[tools]
erlang = "28.2"
elixir = "1.19.4-otp-28"

[settings]
# Hooks are experimental
experimental = true

[env]
# Keep Mix and Hex data in the project (Those directories are ignored in `.gitignore`)
MIX_HOME = "{{config_root}}/.mix"
HEX_HOME = "{{config_root}}/.hex"
# Persist history of the IEx (Elixir) and erl (Erlang) shells
ERL_AFLAGS = "-kernel shell_history enabled"
# Put executables from Mix and Hex directories in $PATH
_.path = [
  "{{env.MIX_HOME}}/bin",
  "{{env.MIX_HOME}}/escripts",
  "{{env.HEX_HOME}}/bin",
]

[hooks]
# Create directories for $MIX_HOME and $HEX_HOME if needed
preinstall = """
  mkdir -p "$MIX_HOME" "$HEX_HOME"
"""
# Install Hex and Rebar locally
postinstall = """
  mix local.hex --force --if-missing
  mix local.rebar --force --if-missing
"""

[tasks.docker-compose-up]
description = "Start Docker Compose services, waiting for them to be healthy before exiting"
run = "docker compose up --wait"

[tasks.server]
description = "Start the Phoenix application with debugging enabled" # https://hexdocs.pm/elixir/debugging.html#pry
depends = [ "docker-compose-up" ]
run = "iex --dbg pry -S mix phx.server"
alias = "s"

[tasks.iex]
description = "Start an interactive shell with all dependencies"
depends = [ "docker-compose-up" ]
run = "iex -S mix"
alias = "i"

[tasks.format]
description = "Format Elixir code"
run = "mix format"
alias = "f"

[tasks.test]
description = "Run tests"
depends = [ "docker-compose-up" ]
run = "mix test"
alias = "t"

[tasks.db-setup]
description = "Set up the database"
depends = [ "db-create", "db-migrate", "db-seed" ]

[tasks.db-create]
description = "Create the database"
depends = [ "docker-compose-up" ]
run = "mix ecto.create"

[tasks.db-migrate]
description = "Migrate the database"
depends = [ "docker-compose-up" ]
run = "mix ecto.migrate"

[tasks.db-seed]
description = "Seed the database"
depends = [ "docker-compose-up" ]
run = "mix run priv/repo/seeds.exs"
